my-app {
  display: block;
  min-height: 500px
}
my-app h1 {font-size: 1.5em}
ng2-map {
  display: block;
  width: 70%;
}
.ls {
  min-height: 400px;
  max-height: 500px;
  overflow: auto;
  width: 30%;
  float: right;
  list-style: none;
  cursor: pointer;
  color: #155996;
}
.social-buttons {line-height: 16px}
@media screen and (max-width: 768px) {
  ng2-map {
    width: 100%;
    display: block;
  }
  .ls {
    padding: 0;
    float: none;
    min-height: inherit;
    width: auto;
  }
}
