<div class="map-container">
<ng2-map center="Brampton, Canada" scrollwheel="false">
    <circle center="Brampton, Canada"
      [strokeColor]="'#FF0000'"
      [strokeOpacity]="0.8"
      [strokeWeight]="2"
      [editable]="true"
      radius="100"
      draggable="true"></circle>
</ng2-map>
<br>
<h2>HTML</h2>
<br>
<blockquote>
	<code>
		<p>
		&lt;ng2-map center="Brampton, Canada" scrollwheel="false"&gt;<br />
	    	&lt;circle center="Brampton, Canada"<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[strokeColor]="'#FF0000'"<br />
	    		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[strokeOpacity]="0.8"<br />
		    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[strokeWeight]="2"<br />
		    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[editable]="true"<br />
		    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;radius="100"<br />
		    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;draggable="true"&gt;<br />
	    	&lt;/circle&gt;<br />
		&lt;/ng2-map&gt;
		</p>
	</code>
</blockquote>
</div>
